<%= link_to backend_books_path, class: 'text-decoration-none' do %>
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">Cuadernos</h5>
    </div>
  </div>
<% end %>

<%= link_to backend_notes_path, class: 'text-decoration-none' do %>
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">Notas</h5>
    </div>
  </div>
<% end %>